# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.profiles.sh
   exec u:r:su:s0 root root -- /init.profiles.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel -MAYHEM-Kernel

# Balance (default profile)
on property:persist.spectrum.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor relaxed
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1708000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor chill
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 633600
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400
    write /sys/module/cpu_boost/parameters/sched_boost_on input 1
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:960000 1:960000 2:960000 3:960000 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 40
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /dev/cpuset/foreground/cpus 0-2,4-7
    write /dev/cpuset/top-app/cpus 0-7

# Performance
on property:persist.spectrum.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 302400  
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 633600
    write /sys/module/cpu_boost/parameters/sched_boost_on input 1
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1248000 1:1248000 2:1248000 3:1248000 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 420
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /dev/cpuset/foreground/cpus 0-2,4-7
    write /dev/cpuset/top-app/cpus 0-7

# Battery
on property:persist.spectrum.profile=2
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor relaxed
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1248000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor relaxed
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 633600
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 768000
    write /sys/module/cpu_boost/parameters/sched_boost_on input 0
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"   
    write /sys/module/cpu_boost/parameters/input_boost_ms 40
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor powersave
    write /sys/class/leds/lcd-backlight/max_brightness 100
    write /dev/cpuset/foreground/cpus 0-2,4-5
    write /dev/cpuset/top-app/cpus 0-5

# Gaming
on property:persist.spectrum.profile=3
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 302400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 633600    
    write /sys/module/cpu_boost/parameters/sched_boost_on input 1
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:4992000 1:4992000 2:4992000 3:4992000 4:0 5:0 6:0 7:0"    
    write /sys/module/cpu_boost/parameters/input_boost_ms 420   
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz 
    write /dev/cpuset/foreground/cpus 0-2,4-7  
    write /dev/cpuset/top-app/cpus 0-7
